body {	
  margin-top: 200px;		
  background: #e76f51;
  font-family: 'Poppins', sans-serif;	
  justify-content: center;
  align-items: center;	
  background-image: url("254729.png");
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: lighten;

}


h1 {
 text-align: center;		
 color: #264653;
 font-weight: bolder;

}


p {
 text-align: center;		
 color: #264653;
 font-weight: 900;	
}


form {
 display: flex;
 justify-content: center;
 margin: 10px 170px;
}


